@import '../../scss/variables.scss';

.accordeon {
    display: flex;
    flex-direction: column;
    gap: 42px;

    @media screen and (max-width: 980px) {
        gap: 30px;
    }

    @media screen and (max-width: 800px) {
        gap: 20px;
    }


    &__default {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 24px;
        border-top: 1px solid $secondary;
        padding: 30px 0 26px;
        cursor: pointer;

        h3 {
            font-weight: 700;
            font-size: 22px;
            line-height: 27px;
            color: $secondary;
            text-transform: none;
            user-select: none;
        }

        .close {
            width: 30px;
            height: 30px;
            transition: transform .3s ease-in-out;

            &__active {
                transform: rotate(45deg);
            }
        }


    }

    &__opened {
        padding-bottom: 48px;
        border-bottom: 1px solid $secondary;
        transition: all .3s ease-in-out;

        p {
            max-width: 780px;
            width: 100%;
            font-size: 18px;
            line-height: 22px;
            color: $tertiary;
            transition: all .3s ease-in-out;
        }
    }

}