@import '../../scss/variables.scss';

.contactImage {
    object-fit: cover;
    object-position: center;
    width: 100%;
    padding-top: 70px;
}

.contacts {
    padding-top: 55px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 150px;

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 80px;

        &__head {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }

        &__body {
            display: flex;
            flex-direction: column;
            gap: 14px;
            padding-bottom: 20px;
            border-bottom: 1px solid $secondary;

            &__list {

                &__item {
                    padding: 20px 0;
                    border-top: 1px solid $secondary;

                    &__link {
                        font-family: 'Montserrat';
                        font-weight: 500;
                        font-size: 22px;
                        line-height: 27px;
                        color: $secondary;
                    }
                }
            }

            &__contactList {
                display: flex;
                flex-direction: column;
                gap: 48px;

                &__address {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    &__top {
                        display: flex;
                        gap: 6px;
                        align-items: center;
                    }

                    span {
                        padding-left: 31px;
                        color: $tertiary;
                        line-height: 135%;
                        font-size: 18px;
                    }
                }

                &__info {
                    display: flex;
                    flex-direction: column;
                    gap: 12px;


                    li {
                        display: flex;
                        gap: 8px;
                        align-items: center;

                        a {
                            font-size: 18px;
                            font-weight: 500;
                        }

                        .light {
                            color: $primary;
                        }

                        .dark {
                            color: $white;
                        }
                    }
                }
            }
        }
    }

    &__map {
        border: 0;
        width: 100%;
    }

    .icon {
        width: 24px;
        height: 24px;
    }
}