@import '../../scss/variables.scss';

.enjoy {
    padding-top: 35px;

    img {
        width: 100%;

        @media screen and (max-width:1050px) {
            display: none;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 40px;
    }

    &__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: flex-start;
    }
}

.company {
    padding-top: 140px;

    @media screen and (max-width: 960px) {
        padding-top: 80px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 30px;

        &__body {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 40px;

            @media screen and (max-width: 770px) {
                flex-direction: column;
                align-items: flex-start;
            }

            &__left {
                display: grid;
                width: 100%;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                row-gap: 50px;

                @media screen and (max-width: 770px) {
                    row-gap: 20px;
                }

                &__item {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    span {
                        font-weight: 500;
                        font-size: 42px;
                        line-height: 51px;
                        color: $secondary;

                        @media screen and (max-width:560px) {
                            font-size: 36px;
                        }
                    }
                }
            }

            &__right {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 30px;
                width: 100%;
            }
        }
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 35px;

    }
}

.aboutUs {
    padding-top: 160px;

    @media screen and (max-width: 960px) {
        padding-top: 60px;
    }

    @media screen and (max-width: 550px) {
        padding-top: 40px;
    }

    img {
        width: 100%;
        object-fit: cover;
        object-position: top;

        @media screen and (max-width:1100px) {
            height: 300px;
        }

        @media screen and (max-width:758px) {
            display: none;
        }
    }


    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;

        @media screen and (max-width:950px) {
            gap: 20px;
        }

        @media screen and (max-width:790px) {
            gap: 0;
        }

        &__top {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h2 {
                width: 100%;
            }


            p {
                font-weight: 300;
                line-height: 22px;
                color: $tertiary;
                max-width: 448px;
                width: 100%;
            }
        }


        &__article {
            width: 100%;
            padding: 80px 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 16px;

            @media screen and (max-width:1100px) {
                padding: 0;
            }

            @media screen and (max-width: 550px) {
                padding-top: 40px;
            }
        }
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        align-items: center;

        @media screen and (max-width: 1100px) {
            flex-direction: column;
        }
    }
}

.news {
    padding-bottom: 128px;

    @media screen and (max-width: 960px) {
        padding-bottom: 80px;
    }

    @media screen and (max-width:790px) {
        padding-bottom: 50px;
    }


    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        h2 {
            width: 100%;
        }


        p {
            width: 100%;
            font-weight: 300;
            line-height: 22px;

            @media screen and (max-width: 844px) {
                display: none;
            }
        }
    }

    &__content {
        display: flex;
        align-items: center;
        gap: 40px;
        justify-content: space-between;

        @media screen and (max-width:1100px) {
            flex-direction: column-reverse;
        }

        &__article {
            display: flex;
            flex-direction: column;
            gap: 30px;

            &__head {
                display: flex;
                flex-direction: column;
                gap: 10px;

                span {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 22px;
                    color: $tertiary;
                }

                h3 {
                    color: $secondary;
                    font-weight: 700;
                    font-size: 22px;
                    line-height: 27px;

                    @media screen and (max-width:600px) {
                        font-size: 20px;
                    }
                }
            }

            p {
                font-size: 18px;
                line-height: 135%;
                color: $secondary;

                @media screen and (max-width:600px) {
                    font-size: 16px;
                }
            }

            &__link {
                font-weight: 700;
                font-size: 18px;
                line-height: 22px;
                color: $secondary;
            }
        }

        img {
            width: 100%;
            object-fit: cover;
            object-position: center;

            @media screen and (max-width:1100px) {
                height: 300px;
            }
        }
    }
}

.form {
    padding: 66px 0;

    @media screen and (max-width:1000px) {
        padding: 66px 50px;
    }

    @media screen and (max-width:880px) {
        padding: 40px 0;
    }

    @media screen and (max-width:750px) {
        padding: 20px 0;
    }


    &__light {
        background-color: $secondaryBgLight;
    }

    &__dark {
        background-color: $secondaryBgDark;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 40px;

        @media screen and (max-width:878px) {
            flex-direction: column;
            gap: 20px;
        }

        h2 {
            width: 100%;
            text-align: center;
        }
    }


    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 26px;


        @media screen and (max-width:878px) {
            align-items: center;
        }


        p {
            width: 100%;

            @media screen and (max-width:878px) {
                text-align: center;
            }
        }
    }
}

.questions {
    padding: 140px 0;

    @media screen and (max-width: 960px) {
        padding: 80px 0;
    }

    @media screen and (max-width: 800px) {
        padding: 50px 0;
    }

    @media screen and (max-width: 550px) {
        padding: 30px 0;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        align-items: center;

        h2 {
            width: 100%;
        }


        p {
            width: 100%;

            @media screen and (max-width: 844px) {
                display: none;
            }
        }
    }
}