.item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
        aspect-ratio: 1/1;
    }

    &__icon {
        position: absolute;
    }
}