@import '../../scss/variables.scss';


.header {

    &__light {
        background-color: $secondaryBgLight;
        -webkit-box-shadow: 0px 2px 12px -3px rgba(18, 18, 18, 0.61);
        -moz-box-shadow: 0px 2px 12px -3px rgba(18, 18, 18, 0.61);
        box-shadow: 0px 2px 12px -3px rgba(18, 18, 18, 0.61);
    }

    &__dark {
        background-color: $secondaryBgDark;
        -webkit-box-shadow: 0px 2px 12px -3px rgba(18, 18, 18, 0.61);
        -moz-box-shadow: 0px 2px 12px -3px rgba(18, 18, 18, 0.61);
        box-shadow: 0px 2px 12px -3px rgba(18, 18, 18, 0.61);
    }
}

header {
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1;

    nav {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        align-items: center;

        ul {
            display: flex;
            align-items: center;
            gap: 30px;

            li {
                font-weight: 400;
                font-size: 18px;
                line-height: 135%;
                transition: all .3s ease-in-out;
                color: $secondary;

            }

            .light {

                &:hover,
                &Link {
                    color: $primary;
                }
            }

            .dark {

                &:hover,
                &Link {
                    color: $white;
                }
            }

            .themeSwitch {
                cursor: pointer;
                width: 24px;
                height: 24px;
            }

            .moon {
                path {
                    fill: $secondary;
                }
            }

            .sun {
                path {
                    fill: $white;
                }
            }

            .moon,
            .sun {
                width: 24px;
                height: 24px;
            }
        }
    }
}