@import '../../scss/variables.scss';


.footer {
    padding: 50px 0 60px;
    border-top: 1px solid $secondary;

    @media screen and (max-width: 775px) {
        padding: 35px 0 45px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        align-items: flex-start;


    }

    &__left {
        display: flex;
        justify-content: space-between;
        gap: 115px;

        @media screen and (max-width: 775px) {
            flex-direction: column;
            gap: 60px;
        }


        &__categories {
            display: flex;
            justify-content: space-between;
            gap: 56px;
            align-items: flex-start;

            @media screen and (max-width:550px) {
                gap: 20px;
                flex-direction: column;
            }


            &__item {
                display: flex;
                flex-direction: column;
                gap: 10px;

                &__light:hover a {
                    color: $primary;
                }

                &__dark:hover a {
                    color: $white;
                }

                span {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: $tertiary;
                }

                a {
                    font-size: 18px;
                    line-height: 22px;
                    color: $secondary;
                    transition: all .3s ease-in-out;
                }
            }
        }
    }

    &__socials {
        display: flex;
        align-items: center;
        gap: 10px;

        @media screen and (max-width:624px) {
            flex-direction: column;
        }

        @media screen and (max-width:550px) {
            flex-direction: row;
        }



        &__light:hover a {
            svg path {
                fill: $primary;
            }
        }

        &__dark:hover a {
            svg path {
                fill: $white;
            }
        }
    }
}