@import './scss/reset.scss';
@import './scss/base.scss';
@import './scss/variables.scss';




.light {
    background-color: $mainBgLight;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $primary;
    }

    p {
        color: $secondary;
    }
}

.dark {
    background-color: $mainBgDark;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        background-image: linear-gradient(180deg, #FAFAFA 0%, #7A7A7A 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    p {
        color: $secondary;
    }
}


.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}